
.navbar{
    background-color: aqua ;
 
}
.navbar-link{
    color: white;
}
.thongtin{
    top: 50px;
    background-color: black;
    background-position: 50% 27.4901%;
    background-size: cover;
    height: 200px;
    background-origin: content-box;
    width: 100%;
    left: auto;
    right: 0;
    height:100%;
}

.avatar{
    text-align: center;
}
.img-avatar{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-top: 25px;
}
.name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    color: white;
    margin: 0.5rem 0 0.5rem 0;
    font-weight: normal;
}
.capdo2{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    flex-wrap: wrap;
    display: flex;
    color: white;
}
.capdo1{
    width: 100px;
    text-align: center;
}
.capdo1 p{
    margin: 0;
    font-size: 1rem;
}
.dieukhien{
    background-color: white;
}
.thanh-dkh{
    display: flex;
    width: 100%;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;

}
.thanh-dkh a:hover{
    text-decoration: none;
}
.thanh-dk-1{
    margin-right: 10px;
}
.caidat{
    border: solid 2px #2e82dd;
    border-radius: 15px;
    padding: 0 10px;
    color: cornflowerblue;
}
.thanh-dieu-khien{
    border: 0;
}
.cot-trai{
    background-color: white;
    padding: 10px;
}
.thongtin12 p{
    font-size: 12px;
}
.thongtin12{
    padding:5px 20px;
}
.thongtin2{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}
.thongtin2 img{
    width: 150px;
    height: 190px;
}
.doc p{
    background-color: #a7eded;
    padding: 0px 15px;
    margin: 3px;
    border-radius: 15px
    
}
.hin p{
    font-size: 12px;
    margin: 0;
    text-align: center;
   
}
.hin{
    padding: 5px 10px;
    width: 200px;
}
.avater-review img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin:10px;
    
}
.group-review{
    display: flex;
    margin: 20px 0;
}
.khung-review{
    padding: 20px;
    border: 1px solid black;

}
.decu img{
    width: 150px;
    height: 200px;
    line-height: 70px;
    margin: 0 10px;
}
.decu p{
    text-align: center;
    margin: 0;
}
.r123 p{
    color: white;
    background-color: rgb(4, 184, 124);
    padding: 1px 5px;
    border-radius: 1rem;
}
.taotruyen{
    display: flex;
    margin: 30px 0;
}
.gioithieu{
    display: flex;
    width: 100%;
  }
  .btn-taotruyen{
    padding: 5px 10px;
    width: 150px;
    margin: 0 25px;
    border-radius: 15px;
    background-color: #0dc6fd52;
  }
  .bookmark-list{
      display: flex;
      padding: 10px 10px;
      background-color: white;
  }
  .bookmark-list img{
    width: 50px;
    height: 75px;
  }
  .bookmark-list p{
      margin: 0;
      font-size: 12px;
  }
  .teude{
    color: orange;
    font-size: 16px;
    font-weight: 600;
  }
  .btn-xoa{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;

  }
  .tao{
      width: 100%;
      display: flex;
      padding: 10px;
  }
  .tentruyentv{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    font-size: 15px; 
    font-weight: bold;
  }
  .setupthongtin{
    padding: 10px;
    display: flex;
  }
  .luachonanh{
    width: 50%;
    background-color: #b3d7ffb8;
    border: solid 1px cornflowerblue;
    margin: 1px;
  }
  .follow img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px;
  }
  .follow{
      width: 65px;
      padding: 5px;
  }
  .ten_user{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 8px;
    font-weight: 500;
    text-align: center;
    color: black;
  }
  .dropdown1 {
    position: relative;
    display: inline-block;
    margin-left: auto;
  }
  
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown1:hover .dropdown-content1 {
    display: block;
  }